<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
  </p-menubar>
</div>


<p-accordion [activeIndex]="activeIndex" (onTabOpen)="onTabOpen($event)" (onTabClose)="onTabClose($event)">
  <p-accordionTab header="Shipment-Card">
    <button routerLink="/shipment-card" class=" text-xl block my-3">
      Shipment Card Component
    </button>
  </p-accordionTab>
  <p-accordionTab header="Header II">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
  <p-accordionTab header="Header LAST">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    </p>
  </p-accordionTab>
</p-accordion>