<div class="bg-white py-[12px] px-[16px]">
  <div>
    <p-tag icon="pi pi-download" severity="success" value="0000000000000000" class="mr-[8px]">
    </p-tag>
    <p-tag icon="pi pi-user" icon="pi pi-user" value="Primary" class="mr-[8px]"></p-tag>
    <p-tag icon="pi pi-user" value="09:00 - 16:00" class="mr-[8px]"></p-tag>
    <p-tag icon="pi pi-user" value="Priority" class="mr-[8px]"></p-tag>
    <p-tag icon="pi pi-user" value="8080" class="mr-[8px]"></p-tag>
  </div>

  <div class="flex">
    <p>
      Oldermanns Hof 3, Bielefeld, 33719
    </p>
    ·
    <p>
      Alexander Mustermann
    </p>
  </div>

  <div>
    <p-tag icon="pi pi-download" severity="success" value="0000000000000000" class="mr-[8px]">
    </p-tag>
    <p-tag icon="pi pi-download" severity="success" value="0000000000000000" class="mr-[8px]">
    </p-tag>
    <p-tag icon="pi pi-download" severity="success" value="0000000000000000" class="mr-[8px]">
    </p-tag>
    <p-tag icon="pi pi-download" severity="success" value="0000000000000000" class="mr-[8px]">
    </p-tag>
    <button pButton label="Hey">
      Something
    </button>
  </div>
</div>